.App {
  font-family: sans-serif;
  text-align: center;
}

.question {
  margin-bottom: 20px;
}

h2 {
  color: purple;
}

label {
  color: red;
  padding-left: 15px;
  margin-right: 15px;
}

input {
  margin-left: 15px;
}

body {
  text-align: center;
}
